$primary-color: #333;
$hover-shadow: rgba(0, 0, 0, 0.1);
$background-color: #f4f4f4;
$text-color: #333;

body {
    font-family: 'Georgia Pro', Georgia, Times, serif;
    background-color: $background-color;
    color: $text-color;
}

nav ul li a:focus {
    outline: 2px dashed white; /* Custom focus state */
}
@media (min-width: 640px) {
    /* Stílusok nagyobb képernyőkhöz */
}
